@tailwind base;
@tailwind components;
@tailwind utilities;


#TinaMarkdown p{
    margin-top: 1.25em;
    margin-bottom: 1.25em;
}

h1,h2,h3 {
    font-weight: bold;
}
@layer components {
    .content { 
        @apply py-1 px-4;
        blockquote> p {
            @apply text-xl my-4;
        }
    }
}