@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        @apply text-base;
    }
    
    body {
        @apply text-[15px];
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6
    .h1,
    .h2,
    .h3,
    .h4,
    .h5,
    .h6 {
        @apply leading-tight;
        font-size: revert;
    }
    
    h1,
    .h1 {
        @apply text-h1-sm md:text-h1;
    }
    
    h2,
    .h2 {
        @apply text-h2-sm md:text-h2;
    }
    
    h3,
    .h3 {
        @apply text-h3-sm md:text-h3;
    }
    
    h4,
    .h4 {
        @apply text-h4;
    }
    
    h5,
    .h5 {
        @apply text-h5;
    }
    
    h6,
    .h6 {
        @apply text-h6;
    }

}


@layer swiper {
    @import 'node_modules/swiper/swiper.scss';
    @import 'node_modules/swiper/modules/navigation.scss';
    .swiper-pagination-bullet {
        --swiper-theme-color: #8f6d5f;
        --swiper-pagination-bullet-size: 25px;   
    }
    .swiper{
        overflow: hidden !important;
        --swiper-navigation-color:  #8f6d5f ;
        --swiper-navigation-size: 65px
    }  
} 
.swiper-button-next, .swiper-button-prev {
    color:  #8f6d5f ;
     size: 65px;
     --swiper-navigation-size: 65px;
     :after{
        font-size: 65px;
     }
 }
   
#TinaMarkdown p{
    margin-top: 1.25em;
    margin-bottom: 1.25em;
}
#TinaMarkdown{
    ol{
        list-style: decimal;
        padding: revert;
    }
    ul{
        list-style: disc;
        padding: revert;
    }
    a{
        color: revert;
        text-decoration: underline;
    }


}

h1,h2,h3 {
    font-weight: bold;
}
@layer components {
    .content { 
        @apply py-1 px-4;
        blockquote> p {
            @apply text-xl my-4;
        }
    }
    .pagination {
        .swiper-pagination-bullet {
          @apply w-[15px] h-[15px];
      
          &-active-main {
            @apply bg-black;
          }
        }
      }
}